*{
    background-color: blanchedalmond;
}
h1{
   background-color: plum;
   margin: 0%;
}
p{
    color: green;
}
nav{
    background-color: blanchedalmond;
}
article p{
    background-color:blanchedalmond;
}
section p{
     background-color:blanchedalmond;
}
aside ul{
     background-color:blanchedalmond;
}

a{
    text-decoration: none;
    color: red;
}
a:hover {
    background-color: rgb(26, 26, 29);
    color: white;
    transform: scale(1.1);
}