h1{
   background-color: aqua;
}
p{
    color: rgb(247, 0, 0);
}
nav{
    background-color: blanchedalmond;
}
article p{
    background-color:blanchedalmond;
}
section p{
     background-color:blanchedalmond;
}
aside ul{
     background-color:blanchedalmond;
}
footer{
    background-color: beige;
}
a{
    text-decoration: none;
}
a:hover {
    background-color: rgb(26, 26, 29);
    color: white;
    transform: scale(1.1);
}