*{
    background-color: blanchedalmond;
}
h1{
   background-color: plum;
   margin: 0%;
   border: 2px solid black;
   padding: 10px;
}

p{
    color: green;
}
nav{
    background-color: blanchedalmond;
}
article p{
    background-color:blanchedalmond;
}
article h2{
    border: 1px solid black;
}
section h2{
    border: 1px solid black;
}
aside h3{
    border: 1px solid black;
}
section p{
     background-color:blanchedalmond;
}
aside ul{
     background-color:blanchedalmond;
}
footer{
    border: .5px solid rgb(202, 16, 16);
    background-color: aliceblue;
}

a{
    text-decoration: none;
    color: red;
}
a:hover {
    background-color: rgb(26, 26, 29);
    color: white;
    transform: scale(1.1);
}